html, body{
    height: 100%;
}

body{
    overflow: hidden;
    margin: 0px;
    background-color: $backgroundColor;
}

*{
    color: $textColor;
}

.menuLabel {
    position: absolute;
    right:0px;
    bottom:0px;
    cursor: pointer;
}
    #menuToggle {
      display: none; /* hide the checkbox */
    }

    #menu{ 
      display: none;
    }
    
    #menu {
        position: absolute;
        right: 0px;
        top:0px;
    }

    #menuToggle:checked + #menu,{
      display: block;
    }