html, body{
    height: 100%;
}

body{
    overflow: hidden;
    margin: 0px;
    background-color: $darkBackgroundColor;
}

*{
    color: $textColor;
}

#simulator{
    position: relative;
    height: 100%;
    width: 100%;
} 

.menuLabel {
    position: absolute;
    right:0px;
    top:0px;
    width:30px;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;    
    background-color:$menuBackground;
    border-left: 1px solid $textColor;

    &:hover {
        background-color: $menuBackgroundLight;
    }

    .menuLabelContent:before{
        content: "<";
        font-weight:bolder;
    }
} 

#menuToggle {
  display: none; /* hide the checkbox */
}

#menu{ 
  display: none;
}

#menu {
    position: absolute;
    right: 0px;
    top:0px;
    height:100%;
    width: 400px;
    border-left: 1px solid $textColor;
    background-color: $menuBackground;

}
#menuToggle:checked ~ .menuLabel{
    right:400px;

    .menuLabelContent:before{
        content: ">";
        font-weight:bolder;
    }
}
#menuToggle:checked ~ #menu,{
  display: block;
} 