#travelControls{
    display:inline-block;
    width:100%;
    border-bottom: 1px solid $borderColor;
    padding: 5px 0px;

    span{
        width:100%;
        padding: 5px 8px;
        text-transform: uppercase; 
    }

    .formElement{
        margin: 10px;
        display: flex;
        justify-content: space-between;

        input, 
        select,
        button{
            padding: 5px 8px;
            box-sizing: border-box;
            background-color: $lightBackroundColor;
            border: 1px solid $borderColor;
            border-radius: 3px;
            :focus{
                border: 1px solid $lightBorderColor;
            }
        }
        button:hover {
            background-color: $backgroundHoverColor;
        }
        input,
        select {
            width: 75%;
        }

        button {
            width: 100%;
        }
        span {
            width:25%;
            padding: 5px 8px;
            text-transform: uppercase; 
        }
    }
}