#travelControls{
    position: absolute;
    z-index:1;
    right: 0px;
    top: 0px;

    .formElement{
        margin: 10px;
        display: flex;
        justify-content: space-between;

    input, select{
        width:125px;
        padding: 5px 8px;
        box-sizing: border-box;
        background-color: $lightBackroundColor;
        border: 1px solid $borderColor;
        border-radius: 3px;
        :focus{
            border: 1px solid $lightBorderColor;
        }
    }
    }
}