@import "_colors.scss";

.plot_container{
    position: fixed;
    height: 100%; 
    width: 100%; 
    right:-98%;
    z-index: 2;
    background-color: $background;
    border-left: 2px solid $borders;
}

.plot_toggle {
    position: absolute;
    clip: rect(0,0,0,0);
}

label[for="plot_toggle"]{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 3;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size:contain;
    background-color: $background;
    border: 1px solid $borders;
    padding: 5px;
}

.plot_toggle:checked + label{
    right: 40%;
}

.plot_toggle:checked ~ .plot_container{
    right: -60%;
    background-color: $background;
}

.plot_toggle + label, .plot_container{
    transition: right 0.2s;
}
