$borders: #cfcfcf;

.time_container{
    position: fixed;
    height: 100%; 
    width: 100%; 
    bottom:-98%;
    z-index: 2;
    background-color: rgba(255,255,255,0.55);
}

.time_toggle {
    position: absolute;
    clip: rect(0,0,0,0);
}

label[for="time_toggle"]{
    position: fixed;
    bottom: 15px;
    right: 50%;
    z-index: 3;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size:contain;

    background-color: #666666;
    border: 1px solid $borders;
    padding: 5px;
}

.time_toggle:checked + label{
    bottom: 40%;
}

.time_toggle:checked + label ~ .time_container{
    bottom: -58%;
    background-color: rgba(255,255,255,0.75);
}

.time_toggle + label, .time_container{
    transition: bottom 0.2s;
}
