#travelCalculationResults{
    @include standard-menu();

    span {
        margin: 5px;
        display:block;
    }
    .title{
        margin-top:10px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}