@import "_colors.scss";

.plot_container{
    position: fixed;
    height: 100%; 
    width: 100%; 
    right:-100%;
    z-index: 2;
    background-color: $background;
    border-left: 2px solid $borders;
}

.plot_toggle {
    position: absolute;
    clip: rect(0,0,0,0);
}

label[for="plot_toggle"] {
  position: fixed;
  top: 15px;
  right: 0px;
  z-index: 3;
  width: 40px;
  height: 60px;
  cursor: pointer;
  background-image: url("../images/toggle-horizontal.png");
  background-position: right 40px bottom 0px; }

  label[for="plot_toggle"]:hover {
    background-image: url("../images/toggle-horizontal.png");
    background-position: right 0px bottom 0px;
  }

.plot_toggle:checked + label{
    right: 40%;
    background-position: right 0px bottom 0px;
}

.plot_toggle:checked + label:hover{
    right: 40%;
    background-position: right 40px bottom 0px;
}

.plot_toggle:checked ~ .plot_container{
    right: -60%;
    background-color: $background;
}

.plot_toggle + label, .plot_container{
    transition: right 0.2s;
}
