<!--<h1>Antara</h1>
<ul class="planets">
  <li *ngFor="#planet of planets">
      <span>{{planet.name}}</span>
      <span>distance: {{planet.radius}} and velocity {{planet.radialVelocity}}</span>
    </li>
</ul>-->
<div>
  <canvas #simulatorCanvas width="900" height="900" style="background:lightgray;"></canvas>
  <div>
    <input id="timescale" type="range" min="1" max="28" [(ngModel)]="simSpeed" /><label for="timescale">{{simSpeed}} day(s)/tick</label><br
    />
    <label for="zoom">Zoom: </label><input id="zoom" type="range" min="23" max="320" [(ngModel)]="zoomLevel" /><br />
    <button id="play" (click)="togglePlay()">{{playButtonText}}</button><br />
    <form (ngSubmit)="onTimeSubmit()" #timeForm="ngForm">
      <select class="timeSet" id="dateDay" [(ngModel)]="currentDateD">
        <option value="0" selected>01</option>
        <option value="1">02</option>
        <option value="2">03</option>
        <option value="3">04</option>
        <option value="4">05</option>
        <option value="5">06</option>
        <option value="6">07</option>
        <option value="7">08</option>
        <option value="8">09</option>
        <option value="9">10</option>
        <option value="10">11</option>
        <option value="11">12</option>
        <option value="12">13</option>
        <option value="l3">14</option>
        <option value="14">15</option>
        <option value="15">16</option>
        <option value="16">17</option>
        <option value="17">18</option>
        <option value="18">19</option>
        <option value="19">20</option>
        <option value="20">21</option>
        <option value="21">22</option>
        <option value="22">23</option>
        <option value="23">24</option>
        <option value="24">25</option>
        <option value="25">26</option>
        <option value="26">27</option>
        <option value="27">28</option>
        </select>

      <select class="timeSet" id="dateMonth" [(ngModel)]="currentDateM">
        <option value="0" selected>January</option>
        <option value="1">February</option>
        <option value="2">March</option>
        <option value="3">April</option>
        <option value="4">May</option>
        <option value="5">June</option>
        <option value="6">July</option>
        <option value="7">August</option>
        <option value="8">September</option>
        <option value="9">October</option>
        <option value="10">November</option>
        <option value="11">December</option>
      </select>
      <select class="timeSet" id="dateYear" [(ngModel)]="currentDateY">
          <option value="0" selected> 0 AT</option>
          <option value="1" > 1 AT</option>
          <option value="2" > 2 AT</option>
          <option value="3" > 3 AT</option>
          <option value="4" > 4 AT</option>
          <option value="5" > 5 AT</option>
          <option value="6" > 6 AT</option>
          <option value="7" > 7 AT</option>
          <option value="8" > 8 AT</option>
          <option value="9" > 9 AT</option>
          <option value="10"> 10 AT</option>
        </select>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>