#travelCalculationResults{
    @include standard-menu();

    span {
        margin: 5px;
        display:block;
    }
    .title{
        margin-top:10px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .brachistochrone-expensive{
        color: #f70404;
        font-weight: 1.2em;
    }
    .brachistochrone-budget{
        color: #db7b2b;
    }
    .hohmann-budget{
        color: #99c140;
    }
}