html, body {
  height: 100%; }

body {
  overflow-x: hidden; }

* {
  color: #28c5f8; }

.plot_container {
  position: fixed;
  height: 100%;
  width: 100%;
  right: -100%;
  z-index: 2;
  background-color: rgba(40, 200, 250, 0.5);
  border-left: 2px solid #28c5f8; }

.plot_toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="plot_toggle"] {
  position: fixed;
  top: 15px;
  right: 0px;
  z-index: 3;
  width: 40px;
  height: 60px;
  cursor: pointer;
  background-image: url("../images/toggle-horizontal.png");
  background-position: right 40px bottom 0px; }

label[for="plot_toggle"]:hover {
  background-image: url("../images/toggle-horizontal.png");
  background-position: right 0px bottom 0px; }

.plot_toggle:checked + label {
  right: 40%;
  background-position: right 0px bottom 0px; }

.plot_toggle:checked + label:hover {
  right: 40%;
  background-position: right 40px bottom 0px; }

.plot_toggle:checked ~ .plot_container {
  right: -60%;
  background-color: rgba(40, 200, 250, 0.5); }

.plot_toggle + label, .plot_container {
  transition: right 0.2s; }

.time_container {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: -100%;
  z-index: 2;
  background-color: rgba(40, 200, 250, 0.5);
  border-top: 2px solid #28c5f8; }

.time_toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="time_toggle"] {
  position: fixed;
  bottom: 0px;
  right: 50%;
  z-index: 3;
  width: 60px;
  height: 40px;
  cursor: pointer;
  background-image: url("../images/toggle-vertical.png");
  background-position: right 0px bottom 40px;
  margin-bottom: 0px; }

label[for="time_toggle"]:hover {
  background-image: url("../images/toggle-vertical.png");
  background-position: right 0px bottom 0px; }

.time_toggle:checked + label {
  bottom: 40%;
  background-position: right 0px bottom 0px; }

.time_toggle:checked + label:hover {
  bottom: 40%;
  background-position: right 0px bottom 40px; }

.time_toggle:checked ~ .time_container {
  bottom: -60%;
  background-color: rgba(40, 200, 250, 0.5); }

.time_toggle + label, .time_container {
  transition: bottom 0.2s; }

.simulation_container {
  position: relative;
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 4em;
  background-size: 200%; }
