@import "components/_base.scss";
@import "components/_plot.scss"; 
@import "components/_time.scss";

$background:#1e1e1e;

.simulation_container{
    position: relative;
    background-color: #fff;//$background;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 4em;
    background-size: 200%;
}
