$textColor: #61DCEF;
$borderColor: #6FCFDE;
$lightBorderColor: #9EE2ED;
$darkBorderColor: #3FAFC0;
$menuBackground: rgba(12, 105, 124, 0.70);
$menuBackgroundLight: rgba(30, 135, 157, 0.70);
$darkBackgroundColor: #181828;
$backgroundColor: #282838;
$lightBackroundColor: #393949;
$backgroundHoverColor: #283338;