$textColor: #00cc00;
$borderColor: #009922;
$lightBorderColor: #00bb22;
$darkBorderColor: #008810;
$menuBackground: rgba(10,100,10,0.70);
$darkBackgroundColor: #181828;
$backgroundColor: #282838;
$lightBackroundColor: #393949;
$backgroundHoverColor: #283338;