@mixin slider-thumb {
          border: 1px solid $borderColor;
          height: 18px;
          width: 14px;
          border-radius: 3px;
          background: $lightBackroundColor;
          cursor: pointer;
          margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
        }

@mixin slider-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          background: $darkBorderColor;
          border-radius: 1.3px;
          border: 0.2px solid $lightBackroundColor;
        }

@mixin symbol-content ($symbol) {
    content: $symbol;
    height: 100%;
    opacity: 0;
    position: relative;
    right: 10px;
    transition: 0.2s;
}
