@mixin slider-thumb {
          border: 1px solid $borderColor;
          height: 18px;
          width: 14px;
          border-radius: 3px;
          background: $lightBackroundColor;
          cursor: pointer;
          margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
        }

@mixin slider-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          background: $darkBorderColor;
          border-radius: 1.3px;
          border: 0.2px solid $lightBackroundColor;
        }

@mixin symbol-content ($symbol) {
    content: $symbol;
    font-weight:bolder;
    transition: 0.2s;
}

@mixin standard-input()
{
  input, 
  select,
  button{
      padding: 5px 8px;
      box-sizing: border-box;
      background-color: $lightBackroundColor;
      border: 1px solid $borderColor;
      border-radius: 3px;
      :focus{
          border: 1px solid $lightBorderColor;
      }
  }
  button:hover {
      background-color: $backgroundHoverColor;
  }
}

@mixin standard-form() {
  .formElement{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    
    .formButton{
        width:48%;
    }        
    .timeSet{
        width:32%;
    }
}
}

@mixin standard-menu() {
  display:inline-block;
  width:100%;
  border-bottom: 1px solid $borderColor;
  padding: 5px 0px;
}
